@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.woff2') format('woff2'),
    url('../font/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.woff2') format('woff2'),
    url('../font/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.woff2') format('woff2'),
    url('../font/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: #F5F5F5;
    font-family: Roboto, Arial, sans-serif;
}

.wrap {
    max-width: 1020px;
    margin: 200px auto 0;
}

.section-name {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
}

.section-name::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 24px;
    margin-right: 16px;
    vertical-align: middle;
    background: url("../img/hw_3/mark.svg") center / cover no-repeat;
}

.section-title {
    margin-bottom: 68px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.item {
    display: inline-block;
    max-width: 324px;
    font-size: 0;
}

.item__img, .item__content {
    display: inline-block;
    vertical-align: top;
}

.item__img {
    margin-right: 23px;
}

.item__content {
    max-width: 238px;
    font-size: 16px;
}

.item__content__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #F2726F;
}

.item__content__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}